@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --primary-color: #6C63FF;
  --dark-blue: #0B094C;
  --light-blue:#DBEAFE;
  --btn1-color:#2563EB;
  --btn2-color:#3B82F6;
  --off-white:#F3F4F6;
}
 
body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
}

hr {
  margin: 2rem 0;
}

ol, ul{
  padding-inline-start: 0px;
}

/* Spaces */
.padding-md{
  padding: 2rem ;
}

/* container */
.container {
  padding-left: 2rem;
  padding-right: 1.5rem;
}

.container-center {
  max-width: 600px;
  margin: auto;
}

/* links */
.link {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.link-primary {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: whitesmoke;
}
.link-secondary {
  color: var(--primary-color);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
}

.resource-links{
  color: var(--primary-color);
}
/* Lists */

.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0 0.5rem;
}

/* Nav */

.navigation {
  background-color: var(--primary-color);
  color: whitesmoke;
  padding: 20px 15px 20px 15px;
}

.navigation .nav-brand {
  font-weight: bold;
  font-size: 1.1rem;
  display: inline-block;
}

.navigation .nav-pills {
  position: absolute;
  right: 1em;
  display: inline-block;
}

.navigation .nav-pills li{
    padding: 10px 20px 10px 20px;
    margin-left: 1em;;
}

.navigation .link {
  color: whitesmoke;
}

.navigation .link-active {
  font-weight: bold;
}

/* Header */


section .heading {
  padding-top: 1rem;
  color: var(--dark-blue);
  text-align: center;
}

section .heading .inverted {
  color: var(--primary-color);
}


.section{
    padding: 2rem;
}


.graysection{
    background-color: var(--light-blue);
}

.footer{
    background-color: var(--primary-color);
    padding: 2rem;
    text-align: center;
    color: whitesmoke;
    border-top-right-radius: 1rem;
}

.footer .link{
  color: whitesmoke;
}

.footer ul{
  padding-inline-start: 0px;
}

.footer .footer-header{
  font-weight: bold;
  font-size: large;
}

/* button css */
.btn-p{
  padding: 10px 20px 10px 20px;
  margin-left: 5px;
  background-color: rgba(134, 83, 182, 0.178);
  border: 1px solid rgb(179, 102, 250);
  border-radius:5px;
  text-decoration: none;
  display: initial; 
}

/* text align */
.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.text-center{
  text-align: center;
} 

.active_link{
  border:1px solid white
} 

/* mobile menu*/
.mobile-menu{
  display: none;
}

@media (min-width:320px ) and (max-width: 650px) { 

ul.list-non-bullet.nav-pills {
    display: none;
    margin-top: 0.4em;
}

ul.list-non-bullet.nav-pills li.list-item-inline {
  color: var(--off-white);
  background-color: var(--primary-color);
  display: block;
}

.mobile-menu{
  display: inline-block;
  position: absolute;
  right: 3em;
  margin-top: 1em;  
}

.line{
 height: 1px;
 border: 1px solid var(--dark-blue);
 width: 2em;
 margin-top:5px;
}
  

/* for live and source  link */
a.btn-p {
  display: block;
  margin-top: 14px;
}

}